<!DOCTYPE html>
<html lang="en" ng-app="appName">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css" media="all">	
  <script type="text/javascript" src="angular.min.js"></script>
  <Script type="text/javascript" src="script.js"></script>
  <title>some document</title>
</head>
<body ng-controller="NewsController as news">
  <div class="frame">
	  	<header>
		  	<div class="logo_elem"></div>
		  	</header>
		  	<div ng-controller="MenuController as menu">
		  		<div class="menu_panel">
				  	<ul class="menu_1">
				  		<li class="menu_elem" ng-class="{ active_menu_elem:menu.isTabSelected(1) }"><a href="#" ng-click="menu.tabSelected(1)">text
				  		</a></li><li class="menu_elem" ng-class="{ active_menu_elem:menu.isTabSelected(2) }"><a href="#" ng-click="menu.tabSelected(2)">text2
				  		</a></li><li class="menu_elem" ng-class="{ active_menu_elem:menu.isTabSelected(3) }"><a href="#" ng-click="menu.tabSelected(3)">text3
				  		</a></li>
				  	</ul>
			  	</div>



			  	<div class="content">
				  	<div class="content_1" ng-controller="FilterController as filter" ng-show="menu.isTabSelected(1)">
				  		<div class="content_1_frame">
					  		<input type="text" class="filter" ng-model="filter.match" placeholder="filter by title"></input> 
					  		<div class="content_1_body">
						  		<div class="article" ng-repeat="section in news.content[0].articles"  ng-show="filter.containsSubstring('{{section.title}}')">
						  			<h2>{{section.title}}</h2>		
						  			<p>{{section.description}}</p>
						  		</div> 
					  		</div>
					  	</div>
				  		<div class="some_stuff_1"></div>
				  	</div>
				  	<div class="content_2" ng-show="menu.isTabSelected(2)">
				  		<div class="some_stuff_2"></div>
				  		<div class="content_2_frame">
				  			<div class="content_2_body">
					  			<h2> {{news.content[1].title}} <h2>
					  			<p ng-repeat="paragraph in news.content[1].body">{{paragraph}}</p>
				  			</div>
				  		</div>
				  	</div>
				  	<div class="content_3" ng-show="menu.isTabSelected(3)"></div>
			</div>
		</div>
		<footer></footer>
  	</div>
</body>
</html>
