html, body{
	min-height: 100%;
}

.frame{
	position: fixed;
	width: 980px;
	left: 50%;
	margin-left: -490px;
	/*background-color: #444444;*/
	top: 0px;
	bottom: 0px;
	padding:0px;

}

header{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 54px;
	background-color: #5b788e;
}

.logo_elem{
	position: relative;
	width: 200px;
	height: 30px;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -100px;
	background-color: #e16c0c;
}

.menu_panel{
	position: absolute;
	top: 54px;
	width: 100%;
	height: 45px;
	background-color: #555555;
}


.menu_1{
	text-align: right;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;	
}

.menu_elem{
	list-style: none;
	display: inline-block;
	text-align: center;
	/*font-family: Myriad-Pro;*/
	font-size: 20px;
	vertical-align: middle;
	background-color: #5b788e;
	color: #ffffff;
	margin: 4px 2px 2px 0px;
	padding: 8px 28px 8px 28px;
}

.menu_elem:last-child{
	padding-left: 44px; 
	padding-right: 44px;
}

.menu_elem a{
	text-decoration: none;
	color: #ffffff;
}

.active_menu_elem{
	background-color: #aab9c5;
}

.active_menu_elem a{
	color: #6c8599;
}

.content{
	position: absolute;
	width: 100%;
	height: calc(100% - 155px);
	background-color: #333f49;
	top: 99px;
}


.content_1_frame{
	position: absolute;
	float: left;
	width: 688px;
	height: calc(100% - 8px);
	margin: 4px;
	background-color: #821b5c;
}

.filter{
	width: 269px;
	height: 43px;
	resize: none;
	background-color: #e16c0c;
	border-radius: 0px;
	border: 0px;
}

.content_1_body{
	position: absolute;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 20px 20px 20px 20px;
}

.article h2{
	color: #2585d0;
}

.article p{
	color: #ffffff;
	font-size: 20px;
}

.some_stuff_1{
	float: right;
	margin: 4px;
	width: 279px;
	height: 279px;
	background: linear-gradient(#ff7c00, #2a0a59);
}

.some_stuff_2{
	width: calc(100% - 8px);
	margin: 4px 4px 4px 4px;
	height: 98px;
	background: linear-gradient(#ff7c00, #2a0a59);
}

.content_2_frame{
	position: absolute;
	width: calc(100% - 8px);
	height: calc(100% - 110px);
	background-color: #ffffff;
	margin: 0px 4px 4px 4px;
	background-color: #821b5c;
}	

.content_2_body{
	position: absolute;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 20px 20px 20px 20px;
}

.content_2_frame h2{
	color: #ffffff;
}

.content_2_frame p{
	color: #ffffff;
	font-size: 20px;
}

footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 54px;	
	background-color: #5b788e;
}